@import "../../global.scss";

.portfolio {
    background-color: white;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 60px;
            

            @include mobile{
                
                font-size: 30px;
            }

        }

        ul {
            display: flex;
            justify-content: center;
            margin: 20px;
            flex-wrap: wrap;


        }

        .imgContainer {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;


            .item {
                width: 250px;
                height: 170px;
                margin: 10px 10px;
                border: none;
                display: flex;
                justify-content: center;
                position: relative;
                transition: all .5s ease;
                cursor: pointer;
                border-radius: 20px;
                @include mobile{
                    width: 130px;
                    height: 100px;

                }
               

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover; //occupy whole container
                    z-index: 1;

                }

                &:hover {
                    background-color: $mainColor;
                    outline: none;

                    img {
                        opacity: 0.2;
                        z-index: 0;
                    }
                }

                h3 {
                    font-size: 30px;
                    position: absolute;
                    top: 40%;
                    color: white;
                }
            }
        }
    }
}