.contacts{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    .container{
        height: 90%;
        width: 90%;
        display: flex;
        align-items: center;
       

        .left{
            flex: .4;
            height: 70%;
            width: 60%;
            
            img{
                height: 100%;
                width: 100%;
                border-radius: 10px;
                padding: 20px;
                
            }

        }

        .right{
            flex: .6;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1{
                font-size: 40px;
                font-weight: 400;
            }

            form{
                display: flex;
                flex-direction: column;
                align-items:center;
                justify-content: space-around;
                height: 70%;
                width: 70%;

                input{
                    height: 30px;
                    width: 70%;
                    font-size: 14px;
                    border-radius: 5px;
                    margin: 20px 0;
                }
                textarea{
                    height: 250px;
                    width: 70%;
                    font-size: 14px;
                    border-radius: 5px;

                }
                button{
                    background-color: crimson;
                    width: 150px;
                    height: 30px;
                    color: white;
                    border-radius: 10px;
                    border: none;
                    cursor: pointer;
                    margin: 25px;
                }

                span{
                    color: green;
                }
            }

        }
    }
}